@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap" );

.container{
    width:100vw;
    height:100vh;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
    "a1 a2";
    font-family: 'Poppins', sans-serif;
    
}

aside{
    grid-area: a1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:white;
    
}

.log_reg{
    text-decoration: none;
}

.div_log_reg{
    display:flex;
    grid-area: a1;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

}

input{
    background-color: #C2C2C2;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
   
}

.img1{
    grid-area: a1;
    display: flex;
    align-self: center;
    width: 200px;
}

main{
    grid-area: a2;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #C2C2C2;
}

p{
    color: #555555;
}

.email{
    display: flex;
}

.senha{
    display: flex;
}

.botaozinho{
    background-color: #FD7401;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h3{
    align-self: center;
}

.forgot{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
}

.login{
    color: white;
    font-family: 'Poppins', 'San Serif';
    background-color: #FD7401;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 30px;

}

